[buildout]
extends =
    https://raw.github.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg
    sources.cfg

package-name = plonetheme.onegov


[versions]
ftw.solr = 1.4.4
collective.solr = 3.0
ftw.subsite = 1.4.3
z3c.unconfigure = 1.0.1

# Plone 4 support got dropped in 1.4.0
collective.z3cform.datagridfield = <1.4.0
