/*
Syntax error: Invalid CSS after "...Categorized-cat": expected "{", was "$i {"
        on line 5 of plonetheme/onegov/resources/sass/components/directory.scss
        from line 24 of plonetheme/onegov/resources/static/static.scss

1: /* @group seantis.dir.* directories *\/
2: 
3: /* @group token input (categories) *\/
4: @for $i from 1 through 4 {
5:     #formfield-form-widgets-IDirectoryCategorized-cat$i {
6:         width: 100%;
7:     }
8: }
9: 
10: /* @end *\/

Backtrace:
plonetheme/onegov/resources/sass/components/directory.scss:5
plonetheme/onegov/resources/static/static.scss:24
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:1312:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:1248:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:1243:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:640:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:634:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:1288:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:1288:in `rethrow'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:649:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:641:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:288:in `for_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:221:in `special_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:193:in `directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:659:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:649:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:116:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:305:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:250:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...Categorized-cat\": expected \"{\", was \"$i {\"\A         on line 5 of plonetheme/onegov/resources/sass/components/directory.scss\A         from line 24 of plonetheme/onegov/resources/static/static.scss\A \A 1: /* @group seantis.dir.* directories */\A 2: \A 3: /* @group token input (categories) */\A 4: @for $i from 1 through 4 {\A 5:     #formfield-form-widgets-IDirectoryCategorized-cat$i {\A 6:         width: 100%;\A 7:     }\A 8: }\A 9: \A 10: /* @end */"; }
