
/* @group onegovBatching */

#content div.listingBar.onegovBatching,
div.listingBar.onegovBatching {

  a, span.current {
    padding: 0.25em 0.5em;
    vertical-align: middle;
    text-decoration: none;
  }

  span.current {
    @include borderradius();
    background-color: #e7eff0;
  }

  .previous {
    display: inline;
    @include icon(' ');
    &:before {
      font-size: 0.8em;
    }
  }

  .next {
    display: inline;
    float: none;
    @include icon(' ', $style: 'after');
    &:after {
      font-size: 0.8em;
    }
  }

}


/* @end */

/* @group folder content batching */

#content .tab_container div.listingBar {
  display: inline-block;
}

/* @end */