/* @group seantis.dir.* directories */

/* search box styles */
#directorySearch {
    background-color: $lightgray;
    padding: 1em;
}

/* intro styles */
#landingPageIntro {
    margin-top: -2em;
}

#landingPageText {
    width: 62.8%;
}

#landingPageImage {
    float: right;
    margin: 2.5em 0 1em 1em;
}

/* 
    hide kml download in the events directory,
    until we can change the output of it to use the icon font
*/
#document-action-kml_download {
    display: none !important;
    background-color: red;
}

/* @end */