/* @group seantis.dir.events */

/* @group event directory columns */
.portaltype-seantis-dir-events-directory {
    .event-navigation, #directoryResultList, .event-sidebar, .event-view {
        float: left;
        @include boxsizing(border-box);
    }

    .event-navigation, #directoryResultList {
        padding-right: 1em;
    }

    .event-navigation {
        width: 20%;
    }

    #directoryResultList {
        width: 45%;
    }

    .event-sidebar {
        width: 35%;
    }
    .event-view {
        width: 65%;
    }
}
/* @end */

/* @group responsive event directory columns */
@media screen and (max-width: $screen-tablet-landscape) {
    .portaltype-seantis-dir-events-directory {
        #directoryResultList, .event-navigation, .event-sidebar, .event-view {
            float: none;
            width: 100%;
            padding: 0;
            clear: both;
        }
    }
}
/* @end */

/* @group event navigation headers */
.event-navigation h2 {
    @include gradient($navigation-gradient-from, $navigation-gradient-to);
    border: 1px solid $lightgray2;
    border-width: 1px 0 1px 0;
    padding: 0.5em 1em;
    font-weight: normal;
    font-size: 1em;
}
/* @end */

/* @group event navigation */
.event-navigation ul {
    margin: 0 0 0.5em 0;

    & li {
        margin: 0;
        list-style: none;

        & a {
            display: block;
            padding: .25em 0.5em;
            text-decoration: none;
            color: $text-color-light;
        }

        & a:hover,
        & a.selected {
            color: $text-color;
            text-decoration: none;

            &:before {
                content: "▸ ";
                position: absolute;
                left: 1em;
            }
        }
    }

    & input {
      max-width: 100%;
      @include boxsizing(border-box);
      margin-bottom: 0.5em;
    }
}
/* @end */

/* @group event results */
.event .directoryMarker {
    left: -0.25em;
    top: -0.25em;
    position: absolute;
}

.event.directoryResult {
    border-top: none;

    position: relative;

    &:last-child {
        border-bottom: none;
    }
}
/* @end */

/* @group single result */
.eventgroup-title {
    text-align: right;
    border-bottom: 1px solid $lightgray2;
    margin-bottom: 0;
}

.event-image {
    float: right;
    padding: 0 0 1em 1em;
}

.event-text {
    padding-bottom: 0.75em;
}

.event-text h3 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.event-text .locality {
    font-weight: bold;
}

.event-view .event-details a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* @end */

/* @group admin controls */
.event-workflow {
    float: left;
    clear: left;
}

.event-state {
    color: $text-color-light;
    float: left;
}

.event-actions {
    float: left;
    & a {
        margin-left: 0.5em;
    }
}
/* @end */

/* @group directory map */
.portaltype-seantis-dir-events-directory,
.portaltype-seantis-dir-events-item {
    #directoryResultMap {
        margin-top: 2em;
        width: 100%;
        float: none;
    }
}

/* @end */

/* @group tags */
.eventtag {
    @include tag();
}
.eventtags {
    float: left;
}
/* @end */

/* @group event time */
.timerange, .event-date {
    float: right;
    text-align: right;
    display: inline-block;
    clear: right;
    font-weight: bold;
}
.timerange {
    font-weight: normal;
}
/* @end */

/* @group submit event */
.your-event {
    background-color: $lightgray;
    font-size: $font-size-18;
    padding: 1em;
    margin: 1em 0 1em 0;
}
/* @end */

/* @group event detail head */
.event-date {
    font-size: 1.2em;
    font-weight: bold;
    float: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.descriptions {
    max-width: 700px;
    margin-right: 3em;

    .short {
        font-weight: bold;
        margin: 0.5em 0 1em 0;
    }

    .long {
        color: #333;
        margin: 0 0 2em 0;
    }
}
/* @end */

/* @group item view adjustments */

/* adjust map on event item view */
.portaltype-seantis-dir-events-item {
    #directoryDetails .event-sidebar {
        margin-top: 1em;
    }

    /* same with tags */
    #directoryDetails .eventtags {
        margin-bottom: 2em;
    }
}

/* @end */

/* @gorup event detail blocks */
.event-details > div {
    margin-bottom: 2em;
    margin-right: 4em;
}

.event-details h3 {
    font-weight: normal;
    font-size: 1.2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    color: black;
}

.event-details ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

@media screen and (max-width: $screen-tablet-landscape) {
    .event-details > div, .descriptions {
        margin-right: 0;
    }
}
/* @end */

/* @group submit form */
#formfield-form-widgets-cat1,
#formfield-form-widgets-cat2 {
    width: 50%;
    float: left;
    clear: none;
}
#formfield-form-widgets-cat1 > span,
#formfield-form-widgets-cat2 > span {
    display: block;
}

#formfield-form-widgets-submission_start_time input,
#formfield-form-widgets-submission_end_time input,
#formfield-form-widgets-submission_range_start_time input,
#formfield-form-widgets-submission_range_end_time input {
    width: 200px;
}

#formfield-form-widgets-submission_days .option {
    float: left;
    margin-right: 0.75em;
}

#formfield-form-widgets-submission_days .option input {
    margin-right: 0;
}
/* @end */

/* @group event preview form */
.event-preview-form {
    margin-top: 1em;
}
/* @end */

/* @end */
