@mixin base_icon($char) {
  font-family: "icomoon";
  font-size: 1em;
  content: $char;
  white-space: nowrap;

}
@mixin icon($char:"", $style:"before"){
  @if $style == "before" {
    &:before {
      @include base_icon($char);
    }
  }
  @if $style == "after" {
    &:after {
      @include base_icon($char);
    }
  }
}

.contenttype-blog,
.contenttype-blogcategory {
  @include icon($char: "< ");
}
.contenttype-book {
  @include icon($char: "? ");
}
.contenttype-textblock,
.contenttype-paragraph,
.contenttype-htmlblock {
  @include icon($char: "I ");
}
.contenttype-contact,
.contenttype-ftw_contact,
.contenttype-member {
  @include icon($char: "\\ ");
}
.contenttype-poodle {
  @include icon($char: "a ");
}
.contenttype-document,
.contenttype-contentpage {
  @include icon($char: "_ ");
}
.contenttype-meeting-item {
  @include icon($char: "K ");
}
.contenttype-billboardcategory,
.contenttype-newsfolder,
.contenttype-eventfolder,
.contenttype-homefolder,
.contenttype-tabbedviewfolder,
.contenttype-folder {
  @include icon($char: "] ");
}
.contenttype-banner {
  @include icon($char: "X ");
}
.contenttype-link {
  @include icon($char: " ");
}
.link-mailto a,
.contenttype-ftw_mail,
.contenttype-mail {
  @include icon($char: ". ");
}
.contenttype-news {
  @include icon($char: "a ");
}
.contenttype-news-item {
  @include icon($char: "a ");
}
.contenttype-event,
.contenttype-eventpage,
.contenttype-meeting {
  @include icon($char: "e ");
}
.contenttype-ticket,
.contenttype-poiissue,
.contenttype-task {
  @include icon($char: "8 ");
}
.contenttype-workspace {
  @include icon($char: "% ");
}
.contenttype-billboardad {
  @include icon($char: ": ");
}
.contenttype-ticket-box {
  @include icon($char: "F ");
}
.contenttype-chapter {
  @include icon($char: "# ");
}
.contenttype-table {
  @include icon($char: "L ");
}
.contenttype-classificationitem {
  @include icon($char: " ");
}
.contenttype-blogentry {
  @include icon($char: "N ");
}
.contenttype-formfolder {
  @include icon($char: " ");
}
.contenttype-subsite {
/* MISSING */
}
.contenttype-listingblock {
/* MISSING */
}
.contenttype-addressblock {
/* MISSING */
}

/* only show sprites in factory menu for file and image */
body.template-create_from_template .contenttype-image,
#plone-contentmenu-factories li a.contenttype-image span {
  @include icon($char: "X ");
}
body.template-create_from_template .contenttype-file,
#plone-contentmenu-factories li a.contenttype-file span {
/* MISSING */
}

/* no images in navigation */
dl.portletNavigationTree img {
  display: none;
}
#column-navigation .portletNavigationTree a {
  background-image: none;
}






#portal-topactions ul a[target="_blank"],
span.link-external a {
  @include icon($char: "j ");
}
#portal-topactions ul a[target="_blank"]:before {
  color: $link-color;
}

.to_top a {
  @include icon($char: " ", $style: "after");
}

.portletContextNavigation .parent a {
  @include icon($char: " k", $style: "after");
}

#portal-globalnav > li > .wrapper a {
  @include icon($char: " ", $style: "after");
  &:after {
    color: $global-navigation-color-arrow;
    font-size: 0.75em;
  }
}

.LSBox:before {
  content: "";
  position: absolute;
  font-family: "icomoon";
  right: 0.4em;
  top: 0.4em;
  color: $link-color;
}

#toggle_slidenavi {
  @include icon($char: "");
}
#toggle_usermenu {
  @include icon($char: "");
}
#toggle_search {
  @include icon($char: "");
}

#slider-panes .sliderPane .prev {
  @include icon($char: "");
  &:before {
    font-size: 1.75em;
    vertical-align: middle;
  }
}
#slider-panes .sliderPane .next {
  @include icon($char: "", $style: "after");
  &:after {
    font-size: 1.75em;
    vertical-align: middle;
  }
}
