@mixin base_icon($char) {
  font-family: 'icomoon';
  font-size: 1em;
  content: $char;
  white-space: nowrap;
  line-height: 1em;
}
@mixin icon($char, $style:'before'){
  @if $style == 'before' {
    &:before {
      @include base_icon($char);
    }
  }
  @if $style == 'after' {
    &:after {
      @include base_icon($char);
    }
  }
}

.contenttype-blog,
.contenttype-blogcategory {
  @include icon('< ');
}
.contenttype-book {
  @include icon('? ');
}
.contenttype-textblock,
.contenttype-paragraph,
.contenttype-htmlblock {
  @include icon('I ');
}
.contenttype-contact,
.contenttype-ftw_contact,
.contenttype-member {
  @include icon('\\ ');
}
.contenttype-poodle {
  @include icon('a ');
}
.contenttype-document,
.contenttype-contentpage {
  @include icon('_ ');
}
.contenttype-meeting-item {
  @include icon('K ');
}
.contenttype-billboardcategory,
.contenttype-newsfolder,
.contenttype-eventfolder,
.contenttype-homefolder,
.contenttype-tabbedviewfolder,
.contenttype-folder {
  @include icon('] ');
}
.contenttype-banner {
  @include icon('X ');
}
.contenttype-link {
  @include icon(' ');
}
.link-mailto a,
.contenttype-ftw_mail,
.contenttype-mail {
  @include icon('. ');
}
.contenttype-news {
  @include icon('a ');
}
.contenttype-news-item {
  @include icon('a ');
}
.contenttype-event,
.contenttype-eventpage,
.contenttype-meeting {
  @include icon('e ');
}
.contenttype-ticket,
.contenttype-poiissue,
.contenttype-task {
  @include icon('8 ');
}
.contenttype-workspace {
  @include icon('% ');
}
.contenttype-billboardad {
  @include icon(': ');
}
.contenttype-ticket-box {
  @include icon('F ');
}
.contenttype-chapter {
  @include icon('# ');
}
.contenttype-table {
  @include icon('L ');
}
.contenttype-classificationitem {
  @include icon(' ');
}
.contenttype-blogentry {
  @include icon('N ');
}
.contenttype-formfolder {
  @include icon(' ');
}
.contenttype-subsite {
  @include icon('Y ');
}
.contenttype-listingblock {
  @include icon('I ');
}
.contenttype-addressblock {
  @include icon('I ');
}
.contenttype-refegovservice {
  @include icon(' ');
}
.contenttype-shopitemblock {
  @include icon('H ');
}

/* only show sprites in factory menu for file and image */
body.template-create_from_template .contenttype-image,
#plone-contentmenu-factories li a.contenttype-image span {
  @include icon('X ');
}
body.template-create_from_template .contenttype-file,
#plone-contentmenu-factories li a.contenttype-file span {
/* MISSING */
}

/* no images in navigation */
dl.portletNavigationTree img {
  display: none;
}
#column-navigation .portletNavigationTree a {
  background-image: none;
}

a[target="_blank"],
#portal-topactions ul a[target="_blank"],
span.link-external a,
a.external-link {
  @include icon('j ');
}
#portal-topactions ul a[target="_blank"]:before {
  color: $link-color;
}

.to_top a {
  @include icon(' ', $style: 'after');
}

.portletContextNavigation .parent a {
  @include icon(' k', $style: 'after');
}

#portal-globalnav > li > .wrapper a {
  @include icon(' ', $style: 'after');
  &:after {
    color: $global-navigation-color-arrow;
    font-size: 0.75em;
  }
}

.LSBox:before {
  content: "";
  position: absolute;
  font-family: 'icomoon';
  right: 0.4em;
  top: 0.4em;
  color: $link-color;
}

#toggle_slidenavi {
  @include icon('');
}
#toggle_usermenu {
  @include icon('');
}
#toggle_search {
  @include icon('');
}

#slider-panes .sliderPane .prev {
  @include icon('');
  &:before {
    font-size: 1.75em;
    vertical-align: middle;
  }
}
#slider-panes .sliderPane .next {
  @include icon('', $style: 'after');
  &:after {
    font-size: 1.75em;
    vertical-align: middle;
  }
}
