/* @group Content pulldowns (edit-bar) */

.actionMenu a, .actionMenu a:hover, #edit-bar a {
  text-decoration: none;
}
#edit-bar ul {
  @include ul($style: 'plain');
  background-color: $lightgray;
  &#contentActionMenus, &.contentViews {
    @include ul($style: 'inline');
    padding-left: 0.25em;
  }
}
#edit-bar {
  background-color: $lightgray;
  min-height: 2em;
  margin-bottom: 0.5em;
  padding-top: 0.25em;
  display: block;
  margin-left: 0;
  position: relative;
  z-index: 2;
}
#content-views {
  float: left;
}
#content-views > li > a {
  padding: 0.5em;
}
/* Tabs in tiny-popup */

#content.dialog-wrapper fieldset.formPanel {
  margin: 5px 1px;
}
/* fix shift on content views list under ie6 */
/* .ie6 is set on <html> by Modernizr library */

.ie6 ul#content-views {
  margin: -2px -3px 0px -3px;
}
#edit-bar li .actionMenuContent a {
  display: block;
  @include borderradius(0);
}
#edit-bar a {
  line-height: 2em;
  padding: 0 0.5em;
  border: none;
  @include borderradius($border-radius $border-radius 0 0);
  margin: 0;
}
#edit-bar .activated a, #edit-bar li.selected a, #edit-bar li a:hover {
  background-color: $page-background;
}
/* TODO: Since plone's base.css also have an !important */

#container #contentActionMenus .actionMenuContent a {
  background-image: none;
  background-color: $page-background;
  padding: 0 0.5em !important;
  display: block;
}
#container #contentActionMenus .actionMenuContent {
  & .subMenuTitle {
    padding: 0 0.5em;
  }
  a > .subMenuTitle {
    padding: 0;
  }
}
#contentActionMenus .actionMenu.activated .actionMenuContent {
  z-index: 5;
  right: -3px;
}
#portal-personaltools.activated .actionMenuContent a:hover,
#container #contentActionMenus .actionMenu.activated .actionMenuContent a:hover,
#container #contentActionMenus .actionMenu.activated .actionMenuContent .actionMenuSelected {
  background-color: $lightgray;
}
#content .tabbedview-tab-menu .actionMenuContent a:hover {
  background-color: $lightgray;
  color: $link-color-hover !important;
  /* TODO remove important in tabbedview.css */
}
.actionMenuContent ul, #portal-personaltools .actionMenuContent ul {
  @include ul($style: 'plain');
  & li {
    margin: 0;
  }
}
#portal-personaltools .actionMenuHeader {
  border: 1px solid $lightgray2;
  padding: 0 0.5em 0 0.25em;
}
#portal-personaltools.activated .actionMenuHeader {
  background: $lightgray;
}
#portal-personaltools.anon-personalbar {
  border: none;
  padding: 0;
  margin-top: 0.55em;
}

// Personaltools for anonymous users - displayed as list.
#portal-personaltools {
  float: right;
  list-style-type: none;
  margin-top: 0.55em;
  li {
    float: left;
    a {
      border-left: 1px solid #32444a;
      padding: 0 5px;
      &:hover {
        text-decoration: none;
      }
    }
    &:first-child {
      a {
        border-left: none;
      }
    }
  }
}

// Personaltools for authenticated users - displayed as dropdown.
.userrole-authenticated #portal-personaltools {
  li {
    float: none;
    a {
      border-left: none;
    }
  }
}


#portal-personaltools, #contentActionMenus .actionMenu {
  line-height: 2em;
}
#portal-personaltools .actionMenuContent {
  background-color: $page-background;
  right: 0;
}
#portal-personaltools .actionMenuContent li a:hover {
  background-color: $lightgray;
}
#user-name, #personaltools-portrait {
  float: left;
  line-height: 26px;
}
#personaltools-portrait {
  margin-right: 0.5em;
  max-height: 26px;
  width: auto;
}
#user-name:after {
  content: ' ▼';
  font-size: 10px;
}

// Special styling for subsite language switch - since there is no icomoon we need to show the label.
#toggle_subsitelangs > span.hiddenStructure {
    text-indent: 0em;
    width: 100%;
    height: auto;
    overflow: visible;
    margin: 0 !important;
    margin-bottom: 0.1em !important;
}

//language selector
#portal-languageselector-wrapper {
  float: right;
}
#portal-languageselector .actionMenuHeader {
  border: 1px solid $lightgray2;
  padding: 0.25em 0.5em;
  margin-top: 0.5em;
}
#portal-languageselector .actionMenuHeader a:after {
  font-size: 10px;
}
#portal-languageselector.activated .actionMenuHeader {
  background: $lightgray;
}
#portal-languageselector .actionMenuContent {
  right: -1px;
  background: $page-background;
  border: 1px solid $page-bordercolor;
  border-top-width: 0;
}
#portal-languageselector .actionMenuContent a:hover {
  background-color: $lightgray;
  color: $link-color-hover;
}
#folderHeader, #contextHeader {
  border-bottom: 2px solid $page-background;
}
#contextHeader {
  margin-top: 5px;
}
#contentActionMenus {
  float: right;
  margin: 0;
  position: relative;
}
.actionMenuContent {
  background-color: $page-background;
  border: 1px solid $page-bordercolor;
  border-top-width: 0;
  z-index: 1;
  @include boxshadow(0.5em 0.5em 1em -1em $page-bordercolor);
}
#content .tabbedview-tab-menu .actionMenuContent {
  background-color: $page-background;
  padding: 0;
  @include boxshadow(0.5em 0.5em 1em -1em $page-bordercolor);
  border-top-width: 1px;
}
.actionMenu {
  float: right;
  white-space: nowrap;
  position: relative;
  margin-left: 0.5em;
}
.actionMenu a, .actionMenu div {
  display: block;
  white-space: nowrap;
}
#column-content .actionMenu .actionMenuHeader,
.actionMenu .actionMenuHeader {
  font-weight: normal;
}
#content .actionMenu ul {
  margin-bottom: 0;
}
span.arrowDownAlternative {
  font-size: 10px;
  line-height: 2em;
}
.actionMenu.deactivated .actionMenuContent {
  display: none;
}
.actionMenu.activated .actionMenuContent {
  position: absolute;
  width: auto;
  min-width: 100%;
}
.actionMenu.activated .actionMenuContent a {
  padding: 0 0.5em;
}
#edit-bar .actionSeparator a {
  border-top: 1px solid $page-bordercolor;
}
/* @end */
