/* @group overlay */

.overlay {
  display: none;
  background-color: $page-background;
  padding: 2em;
  @include boxshadow(0 0 1em 0 $darkgray);
  @include borderradius(4px);
  min-width: 25%;
}
.overlay .formControls {
  margin-top: 1em;
}
/* default close button positioned on upper-left corner */
div.overlaybg div.close,
div.overlay div.close {
  background-image: url(%THEME_URL%/images/pb_close.png);
  position: absolute;
  left: -14px;
  top: -14px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
div.overlay div.close span {
  text-indent: -8000px;
  display: block;
}

/* @end */
