/* @group banner */

body {
  background: $body-background;
}

#banner-image img {
  width: 100%;
}

/* @end */

/* @group izug listing view */

.template-izug_listing_view .itemDate {
  font-weight: bold;
}
.template-izug_listing_view .itemDate .CustomlistingItem {
  margin-bottom: 2em;
  border-bottom: 1px solid $lightgray;
}


/* @end */

/* @group subsite */

.template-subsite_view #page-wrapper .column .portletStaticText .portletItem ul {
  @include linklist();
}

/* @end */