/* @group checkbox and radio */

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25em;
}

/* @end */

/* @group tags widget */

#content .existingTagsHelp,
#content .newTagsHelp {
  float: none;
  clear: both;
}
div.existingTagsSection,
dl.newTagsSection {
  margin-left: 0;
}
.existingTags > label,
.newTagsSection > label {
  line-height: 1.5em;
}
#content .newTagsSection {
  margin-top: 1em;
  margin-left: 0;
  width: 100%;
  & textarea {
    width: 100%;
  }
}

/* @end */

/* @group mobile buttons */

ul.mobileButtons {
  @include ul($style: 'inline');
}
ul.mobileNavigation {
  padding-left: 0;
  & li {
    /* todo: move this into ul-mixing */
    margin-bottom: 0;
  }
}

/* @end */