/* @group seantis.people */

/* @group list filter */
.portaltype-seantis-people-list {

    .people-list th span:after {
        content: ' / '
    }

    .people-list th span:last-child:after {
        content: ''
    }

    .people-letters {
        a.selected-letter,
        a:hover {
            @include boxshadow(0 0 .2em darken($highlight-color-light, 50%));
        }
    }

    .filter-tag {
        font-weight: bold;
    }

    .filter-reset {
        margin-bottom: 0.5em;
        display: block;
    }

    .filter-reset:before {
        content: '»';
    }
}
/* @end */

/* @group list person details */
.person-details {

    .person-detail h2 {
        font-size: 1em;
        margin: 0;
    }

    .person-detail {
        margin-bottom: 1em;
    }

    .person-memberships ul {
        list-style: none;
        padding-left: 0;
    }

}

.person-details-left.splitscreen {
    float: left;   
    padding-right: 2em;
    max-width: 50%;
}
.person-details-right.splitscreen {
    float: left;
    clear: right;
}
/* @end */

/* @end */