/* mobile navi starts at (max-width: 767px) */

@media screen and (max-width: $page-fixed-width) {
  .fixedWidth {
    width: 95%;
  }
}

/* @group tablet landscape */

@media screen and (max-width: 979px) {
  #column-navigation {
    @include position0();
    @include width5();
  }
  #column-content {
    &.position-3 {
      @include position5();
      @include width11();
    }
    &.position-0 {
      @include width16();
    }
  }
  #column-sidebar {
    @include position5();
    @include width11();
  }
  #column-sidebar {
    clear: both;
  }
  #footer .portlet {
    padding-left: 2em;
  }
}

/* @end */

/* @group tablet */

@media screen and (max-width: 767px) {
  .fixedWidth {
    width: 96%;
  }
  #columns #column-content,
  #columns #column-sidebar {
    @include position0();
    @include width16();
    clear: both;
  }
  #column-navigation {
    display: none;
  }
  #subsite-column-1,
  #subsite-column-3,
  #footer-column-1,
  #footer-column-3 {
    @include position0();
    @include width8();
  }
  #subsite-column-2,
  #subsite-column-4,
  #footer-column-2,
  #footer-column-4 {
    @include position8();
    @include width8();
  }
  #subsite-column-3,
  #footer-column-3 {
    clear: both;
  }
  #footer-column-3,
  #footer-column-4 {
    border-top: 1px solid $footer-border-color;
  }
  #footer .portlet {
    border: none;
    padding-left: 1em;
    padding: 1em 0;
    margin: 1em 0;
  }
}

/* @end */

/* @group mobile landscape */

/* ??? */

/* @end */

/* @group mobile */

@media screen and (max-width: 480px) {

  #subsite-column-1,
  #subsite-column-2,
  #subsite-column-3,
  #subsite-column-4,
  #footer .cell {
    @include position0();
    @include width16();
    clear: both;
  }
  #footer .portlet {
    border: none;
    border-top: 1px solid $footer-border-color;
    padding-left: 1em;
  }

}

/* @end */
