/* @group searchbox */

#portal-searchbox {
  & #searchGadget {
    @include inputfield($full-width:true);
    @include boxshadow(0 0 0.5em $page-bordercolor inset);
    &:focus {
      /* TODO: should this be in a variable? */
      @include boxshadow(0 0 0.5em desaturate(lighten($global-navigation-color, 60%), 80%) inset);
    }
  }
  & input.searchButton {
    display: none;
  }
}

/* @end */

/* @group livesearch */

#LSResult a {
  text-decoration: none;
}
#LSResult {
  width: 100%;
  border: 1px solid $input-bordercolor;
  border-top-width: 0;
  background-color: $page-background;
  z-index: 3;
  @include boxshadow(0 0 0.5em $lightgray2);
  position: absolute;
  & label {
    font-weight: normal;
  }
}
div.searchSection {
  padding: 1em;
}
fieldset.livesearchContainer {
  border: none;
  margin: 0;
  padding: 0;
  & legend {
    display: none;
  }
  & ul {
    @include ul($style: 'plain');
    & li {
      margin: 0;
    }
  }
}
#LSNothingFound,
.LSRow {
  padding: 1em;
  border-top: 1px solid $input-bordercolor;
  padding: 1em;
}
.LSRow:hover,
.LSHighlight {
  background-color: $lightgray;
}
.LSRow.advancedSearch {
  display: none;
}

/* @end */

/* @group search results */

.searchResults dt {
  font-size: $font-size-18;
  line-height: $body-line-height;
}
#search-results-bar {
  background-color: $lightgray;
  padding: 0.5em;
}
.highlightedSearchTerm {
  background-color: $search-highlight-background;
}

/* @end */

/* @group solr search results */

#search-results {
  float: left;
  width: 72%;
  margin-left: 3%;
}
#portal-searchfacets {
  float: left;
  width: 25%;
}
#portal-searchfacets h4,
#available-facets dt {
  font-size: $font-size-18;
  margin-bottom: 0.5em;
}

#selected-facets,
#available-facets ul {
  /* padding-left: 0; */
  @include ul($style:'plain');
  li {
    margin-bottom: 0;
  }
}
#selected-facets {
  margin-bottom: 1em;
}
.facetItemTitle {
  font-weight: bold;
}
a.facetRemoveItem,
a.facetRemoveItem:hover{
  text-decoration: none;
}
#search-results .searchResults {
  margin-top: 1em;
}

/* @end */
