$link-color: #003559;
$link-color-hover: #006FBA;

$page-background: #FFF;

$global-navigation-color: $link-color;
$global-navigation-color-hover: $link-color-hover;
$global-navigation-color-arrow: $link-color;

$input-context-border: #003559;
$input-context-bg-start: #00538C;
$input-context-bg-end: #003559;
$input-context-color: #FFF;

$input-context-hover-border: #991601;
$input-context-hover-bg-start: #C91E00;
$input-context-hover-bg-end: #991601;
$input-context-hover-color: #FFF;
