$link-color: #00538C;
$link-color-hover: #AE1E00;
$text-color: #333333;

$page-background: #FFF;

$global-navigation-color: $link-color;
$global-navigation-color-hover: $link-color-hover;
$global-navigation-color-arrow: $link-color;
$global-navigation-border-color-active: #00538C;
$global-navigation-border-color: #006FBA;

$input-context-border: #003559;
$input-context-bg-start: #00538C;
$input-context-bg-end: #003559;
$input-context-color: #FFF;

$input-context-hover-border: #991601;
$input-context-hover-bg-start: #C91E00;
$input-context-hover-bg-end: #991601;
$input-context-hover-color: #FFF;

$slider-bg-start: #00538C;
$slider-bg-end: #003559;
$slider-color: #FFF;
