/* helper style classes */

/* @group tags */
.tag {
    @include tag();
}

.inline-tag {
    @include tag();
    display: inline-block;
    float: none;
}
/* @end */

/* @group dense lists */
.dense li {
    margin-bottom: 0;
}
/* @end */

/* @group responsive table */
/* 
    Force tables to not be like tables anymore. Borrowed from this example:
    http://elvery.net/demo/responsive-tables/#no-more-tables
*/
@media only screen and (max-width: 979px) {
    table.responsive-table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
        display: block;
        word-wrap: break-word;
        line-height: 1em;
    }

    table.responsive-table {
        border: none;
    }
     
    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* Have spaces between the rows which look like business cards */
    .responsive-table tbody tr:first-child {
        margin-top: 0.5em;
    }

    .responsive-table tbody tr {
        margin-bottom: 2em;
    }
     
    /* Behave like a "row" */
    .responsive-table tbody tr td {
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align: left;
        border: 1px solid $lightgray2;
        border-width: 0 1px 0 1px;
        min-height: 1em;
    }

    table.responsive-table tbody tr td:first-child {
        border-top: 1px solid $lightgray2;
    }

    table.responsive-table tbody tr td:last-child {
        border-bottom: 1px solid $lightgray2;
    }
     
    /* Table header as label */
    .responsive-table td:before {
        position: absolute;
        color: $darkgray;
        
        top: 0.5em;
        left: 0.5em;
        width: 40%;
        padding-right: 1em;
        text-align:left;

        content: attr(data-title);
    }
}     
/* @end */