$body-line-height: 1.5em;
$body-font-family: Arial;
$body-background: #ebe8e1;

$text-color: #32444a;
$text-color-light: desaturate(lighten($text-color, 25%), 100%);

$lightgray: #f4f4f1;
$lightgray2: #e5e5e0;
$darkgray: #5b5a54;

$font-size: 13px;
$font-size-36: 276.92%;
$font-size-18: 138.46%;

$page-fixed-width: 1200px;
$page-background: #fcfcfc;
$page-bordercolor: #cacabb;

$link-color: #005d67;
$link-textdecoration: underline;
$link-color-hover: #00a5b8;
$link-textdecoration-hover: underline;

$highlight-color-light: #E7EFF0;

$border-radius: 3px;
$input-bordercolor: #cccccc;
$input-background-color: #f7f7f7;

$input-context-border: #004047;
$input-context-bg-start: #006c78;
$input-context-bg-end: #005a64;
$input-context-color: #ccdee1;

$input-context-hover-border: #005761;
$input-context-hover-bg-start: #008391;
$input-context-hover-bg-end: #007380;
$input-context-hover-color: #ccdee1;

$input-standalone-border: #474747;
$input-standalone-bg-start: #787878;
$input-standalone-bg-end: #646464;
$input-standalone-color: #e2e1e1;

$input-standalone-hover-border: lighten($input-standalone-border, 10%);
$input-standalone-hover-bg-start: lighten($input-standalone-bg-start, 10%);
$input-standalone-hover-bg-end: lighten($input-standalone-bg-end, 10%);
$input-standalone-hover-color: #e2e1e1;

$global-navigation-color: #00616c;
$global-navigation-color-hover: $link-color-hover;
$global-navigation-color-arrow: #5b696e;
$global-navigation-flyout-border: #d1d1d1;

$slider-bg-start: $global-navigation-color;
$slider-bg-end: #003136;
$slider-color: #e4e4dd;

$mobile-navigation-bordercolor: #b7b7b7;

// TODO update table styles
$table-bordercolor: #d9d9d9;
$table-heading-color: #000;
$table-heading-background: #f2f2f2;

$message-color-info: #9dca27;
$message-color-warning: #D69B29;
$message-color-error: #D65829;

$footer-color: #e4e4dd;
$footer-bg-start: #5b5b54;
$footer-bg-end: #65655e;
$footer-border-color: #71716a;


/* mixins */

@mixin gradient($from, $to) {
  background-color: $to;
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
}

@mixin boxshadow($definition...) {
  box-shadow: $definition;
  -webkit-box-shadow: $definition;
  -moz-box-shadow: $definition;
}

@mixin borderradius($radius: $border-radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin boxsizing($value) {
  box-sizing: $value;
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  -o-box-sizing: $value;
}

@mixin ul($style: 'default') {
  list-style: disc;
  padding-left: 2em;
  & li {
    display: list-item;
    margin-bottom: 1em;
  }
  @if $style == 'plain' {
    list-style: none;
    padding-left: 0;
  }
  @if $style == 'inline' {
    padding-left: 0;
    & li {
      display: inline;
    }
  }
}

@mixin linklist() {
  @include ul($style: 'inline');
  &:after {
    clear: both;
  }
  &:before, &:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
  }
  & li a {
    @include tag();
  }
}

@mixin tag() {
  @include borderradius();
  display: block;
  float: left;
  background: $highlight-color-light;
  padding: 0 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
