@function contrast($bg, $light, $dark, $lightness:50%) {
    @return if(lightness($bg) >= $lightness, $dark, $light);
}

$body-line-height: 1.5em;
$body-font-family: Arial;
$body-background: url(%THEME_URL%/images/bg.png) repeat-x 0 0 #ebe8e1;

$text-color: #32444a;
$text-color-light: desaturate(lighten($text-color, 25%), 100%);

$lightgray: #f4f4f1;
$lightgray2: #e5e5e0;
$lightgray3: #c6c6c0;
$darkgray: #5b5a54;

$logo-height: 34px;

$font-size: 13px;

$heading-font-family: $body-font-family;
$heading-line-height: $body-line-height;
$heading-font-size: 32px;

$page-fixed-width: 1200px;
$page-background: #fcfcfc;
$page-bordercolor: #cacabb;

$link-color: #005d67;
$link-textdecoration: none;
$link-color-hover: #00a5b8;
$link-textdecoration-hover: underline;

$highlight-color-light: #E7EFF0;

$search-highlight-background: $highlight-color-light;

$border-radius: 3px;
$input-bordercolor: #757575;
$input-background-color: #f7f7f7;

$global-navigation-fontsize: 18px;
$global-navigation-color: #00616c;
$global-navigation-color-hover: $link-color-hover;
$global-navigation-color-selected: #333;
$global-navigation-flyout-border: #d1d1d1;
$global-navigation-border-color-active: $global-navigation-color-hover;
$global-navigation-border-color: $global-navigation-color;

$breadcrumbs-background: #fafaf9;
$breadcrumbs-border: #e6e6e2;

$button-color-light: #FFF;
$button-color-dark: #000;

$input-standalone-base: #7f7f7f;
$input-destructive-base: #e61f18;

$navigation-gradient-from: #fcfcfc;
$navigation-gradient-to: #f6f6f5;
$navigation-sibling-background: #f9f9f4;

$mobile-navigation-bordercolor: #b7b7b7;

$map-height: 300px;

// TODO update table styles
$table-bordercolor: #d9d9d9;
$table-heading-color: #000;
$table-heading-background: #f2f2f2;

$message-color-info: #9dca27;
$message-color-warning: #D69B29;
$message-color-error: #D65829;

$footer-color: #F8F8F2;
$footer-background: #72726A;
$footer-border-color: #808075;

// responsive
$screen-mobile: 320px;
$screen-mobile-landscape: 480px;
$screen-tablet: 769px;
$screen-tablet-landscape: 979px;

// Accessibility
$focus_outline_color: $text-color;
