$body-line-height: 1.5em;
$body-font-family: Arial;
$body-background: #ebe8e1;

$text-color: #32444a;
$text-color-light: desaturate(lighten($text-color, 25%), 100%);

$lightgray: #f4f4f1;
$lightgray2: #e5e5e0;
$darkgray: #5b5a54;

$font-size: 13px;
$font-size-36: 276.92%;
$font-size-18: 138.46%;

$page-fixed-width: 1200px;
$page-background: #FFF;
$page-bordercolor: #cacabb;

$link-color: #005d67;
$link-textdecoration: none;
$link-color-hover: #00a5b8;
$link-textdecoration-hover: underline;

$border-radius: 3px;
$input-bordercolor: #c3c3be;

$global-navigation-color: #00616c;
$global-navigation-color-hover: #000; // TODO change

// TODO update table styles
$table-bordercolor: #aaa;
$table-heading-color: #000;
$table-heading-background: #e6e6e6;

$message-color-info: #9dca27;
$message-color-warning: #D69B29;
$message-color-error: #D65829;

$footer-color: #e4e4dd;
$footer-bg-start: #5b5b54;
$footer-bg-end: #65655e;


/* mixins */

@mixin gradient($from, $to) {
  background-color: $to;
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=0);
}

@mixin boxshadow($definition) {
  box-shadow: $definition;
  -webkit-box-shadow: $definition;
  -moz-box-shadow: $definition;
}

@mixin borderradius($radius: $border-radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin ul($style: 'default') {
  list-style: disc;
  padding-left: 2em;
  & li {
    display: list-item;
    margin-bottom: 1em;
  }
  @if $style == 'plain' {
    list-style: none;
    padding-left: 0;
  }
  @if $style == 'inline' {
    padding-left: 0;
    & li {
      display: inline;
    }
  }
}
