/*Prevent big elements from bleeding over the edge*/
img, h1, h2, h3, h4 {
    max-width: 100% !important;
    page-break-before: avoid;
}
/*Force the printer to render the colors as seen*/
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
/*General styling*/
html, html body {
    background-color: #FFFFFF;
}
#column-content {
  left: 0;
  margin-left: 0;
  width: 100%;
  text-align: justify;
}
a {
    font-weight: bolder;
}
/*Elements to hide*/

#portal-topactions {
    display: none;
}
#portal-languageselector-wrapper {
    display: none;
}
#portal-personaltools-wrapper {
    display: none;
}
#portal-globalnav {
    display: none;
}
#portal-searchbox {
    display: none;
}
#breadcrumbs-wrapper {
    display: none;
}
#column-navigation {
    display: none;
}
#column-sidebar {
    display: none;
}
#footer {
    display: none;
}
#banner-image {
    display: none;
}
.documentEditable #edit-bar {
    display: none;
}
#slider-wrapper {
    display: none;
}
.to_top {
    display: none;
}
#bottom-actions {
    display: none;
}
.portalMessage {
    display: none;
}
.sl-actions-wrapper {
    display: none;
}
.formTab:not(.selected) {
    display: none;
}
table {
    page-break-inside: auto;
}
tr {
    page-break-inside: avoid;
    page-break-after: auto;
}
thead {
    display: table-header-group;
}
tfoot {
    display: table-footer-group;
}
.logoRow .cell {
  left: 0;
  margin-left: 0;
}
#header-delimiter {
  left: 0;
  margin-left: 0;
}
#container #page-wrapper {
    margin: 0;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#container #page-wrapper {
    background-color: #FFFFFF;
}

/*Set page properties*/
@page {
    size: 22cm 28in portrait;
    margin: 60px 40px;
    orphans: 8;
    widows: 4;
}
